// Place all the styles related to the housings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.housing-index-page {
    display: flex;
}

.housing-show .average-rating {
    position: relative;
    display: flex;
    align-items: center;;
}

.housing-info {
    display: flex;
    align-items: center;
    position: relative;
}

.housing-name-header {
    display: flex;
    align-items: center;
}

.housing-name-header > .average-rating {
    font-size: 11px;
    margin-right: 1%;
}

.review-author {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.review-author .author-info {
    margin-left: 10px;
}

.review-element-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.review-element {
    width: 45%;
}
.review-author h2 {
    font-size: 30px;
    margin: 0;
}

.review-body h5 {
    margin-top: 10px;
    font-size: 14px;
}

.review-body h6 {
    margin: 0;
    font-size: 14px;
}

.housing-show h4 {
    margin: 0;
}

.review-element p {
    font-size: 12px !important;
}

.average-rating i{
    position: relative;
    bottom: 1%;
    margin-right: 5px;
}

.housing-show #map {
    position: fixed !important;
    bottom: 10%;
    width: 80%;
    height: 30%;
    background-color: grey;
}

.housing-index-page #map {
    position: fixed !important;
    left: 55%;
    top: 10%;
    width: 45%;
    height: 100%;
}

.housing-index {
    width: 55%;
}

.housing-show {
    margin-top: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.housing-show #host-info {
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.housing-show #housing-name{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.housing-show p {
    margin: 0%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
}

.housing-show img {
    margin-top: 3%;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    margin-right: 10px;
}

.housing-index img {
    height: 200px;
    width: 300px;
    border-radius: 15px;
    margin-right: 10px;
}

.housing-index p {
    margin: 0%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
}

.housing-element{
    display: flex;
    margin: 10px;
    border-top: rgb(100, 100, 100);
    border-bottom: rgb(100, 100, 100);
}

#housing-name{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#housing-price{
    position: absolute;
    right: 10%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}