.nav-bar {
    position: sticky;
    width: 100%;
    top: 0%;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 20;
    font-size: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#header-link {
    color: red;
}