.nav-bar {
    position: sticky;
    top: 0%;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 20;
    font-size: 10px;
}

#header-link {
    color: red;
}